In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/cleaning_data_phase1.csv.zip')

In [3]:
df.head()

,_STATE,GENHLTH,PHYSHLTH,MENTHLTH,CHECKUP1,CHOLMED3,CVDSTRK3,CHCSCNCR,CHCOCNCR,CHCCOPD3,...,_EDUCAG,_INCOMG1,_SMOKER3,_DRNKWK1,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_
0,1.0,5.0,20.0,10.0,2.0,1.0,2.0,2.0,2.0,1.0,...,2.0,3.0,3.0,5.397605e-79,5.397605e-79,100.0,5.700000e+01,4.300000e+01,14.0,100.0
1,1.0,3.0,88.0,88.0,1.0,1.0,2.0,2.0,2.0,2.0,...,4.0,9.0,4.0,5.397605e-79,5.397605e-79,100.0,1.400000e+01,5.397605e-79,14.0,100.0
2,1.0,2.0,88.0,88.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,5.397605e-79,1.400000e+01,14.0,43.0
3,1.0,2.0,88.0,10.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,5.0,4.0,3.000000e+02,7.100000e+01,43.0,1.000000e+01,5.700000e+01,27.0,71.0
4,1.0,5.0,30.0,88.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,1.000000e+02,2.900000e+01,29.0,100.0

In [4]:
df.shape

(414511, 44)

In [5]:
ran_columns = ['_MICHD', '_SEX', 'GENHLTH', 'PHYSHLTH', 
               'MENTHLTH', 'ADDEPEV3', 'CHECKUP1', 
               '_TOTINDA', '_RFHYPE6', 'CHOLMED3', '_RFCHOL3', 
               'CVDSTRK3', '_ASTHMS1', 'CHCSCNCR', 'CHCOCNCR']

In [6]:
len(ran_columns)

15

In [7]:
df_ran = df[ran_columns].copy()

In [8]:
df_ran.head()

,_MICHD,_SEX,GENHLTH,PHYSHLTH,MENTHLTH,ADDEPEV3,CHECKUP1,_TOTINDA,_RFHYPE6,CHOLMED3,_RFCHOL3,CVDSTRK3,_ASTHMS1,CHCSCNCR,CHCOCNCR
0,2.0,2.0,5.0,20.0,10.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0
1,1.0,2.0,3.0,88.0,88.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,3.0,2.0,2.0
2,1.0,2.0,2.0,88.0,88.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,3.0,2.0,2.0
3,2.0,2.0,2.0,88.0,10.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0
4,1.0,1.0,5.0,30.0,88.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0,2.0,2.0

In [9]:
df_ran.isnull().sum()

_MICHD          0
_SEX            0
GENHLTH         3
PHYSHLTH        2
MENTHLTH        0
ADDEPEV3        0
CHECKUP1        0
_TOTINDA        0
_RFHYPE6        0
CHOLMED3    56662
_RFCHOL3    56248
CVDSTRK3        0
_ASTHMS1        0
CHCSCNCR        0
CHCOCNCR        0
dtype: int64

In [10]:
# The following are the mapping to change these columns into categorical
_MICHD_mapping = {
    1: 'Yes',
    2: 'No'
}

_SEX_mapping ={
    1: 'Male',
    2: 'Female'
}

GENHLTH_mapping = {
    1: 'Excellent',
    2: 'Very good',
    3: 'Good',
    4: 'Fair',
    5: 'Poor',
    7: "Don't know/Not sure",
    9: 'Refused'
}

ADDEPEV3_mapping = {
    1: "Yes",
    2: "No",
    7: "Don't know/Not sure",
    9: "Refused"
}

CHECKUP1_mapping = {
    1: "Within past year (anytime < 12 months ago)",
    2: "Within past 2 years (1 year but < 2 years ago)",
    3: "Within past 5 years (2 years but < 5 years ago)",
    4: "5 or more years ago",
    7: "Donâ€™t know/Not sure",
    8: "Never",
    9: "Refused"
}

_TOTINDA_mapping = {
    1: "Had physical activity or exercise",
    2: "No physical activity or exercise in last 30 days",
    9: "Donâ€™t know/Refused/Missing"
}

_RFHYPE6_mapping = {
    1: "No",
    2: "Yes",
    9: "Donâ€™t know/Not Sure/Refused/Missing"
}

CHOLMED3_mapping = {
    1: "Yes",
    2: "No",
    7: "Donâ€™t know/Not Sure",
    9: "Refused"
}

_RFCHOL3_mapping = {
    1: "No",
    2: "Yes",
    9: "Donâ€™t know/Not Sure/Refused/Missing"
}

CVDSTRK3_mapping = {
    1: "Yes",
    2: "No",
    7: "Donâ€™t know/Not Sure",
    9: "Refused"
}

_ASTHMS1_mapping = {
    1: "Current",
    2: "Former",
    3: "Never",
    9: "Donâ€™t know/Not Sure Or Refused/Missing"
}

CHCSCNCR_mapping = {
    1: "Yes",
    2: "No",
    7: "Donâ€™t know/Not Sure",
    9: "Refused"
}

CHCOCNCR_mapping = {
    1: "Yes",
    2: "No",
    7: "Donâ€™t know/Not Sure",
    9: "Refused"
}

In [11]:
column_mapping = {
    '_MICHD': _MICHD_mapping,
    '_SEX': _SEX_mapping,
    'GENHLTH': GENHLTH_mapping,
    'ADDEPEV3': ADDEPEV3_mapping,
    'CHECKUP1': CHECKUP1_mapping,
    '_TOTINDA': _TOTINDA_mapping,
    '_RFHYPE6': _RFHYPE6_mapping,
    'CHOLMED3': CHOLMED3_mapping,
    '_RFCHOL3': _RFCHOL3_mapping,
    'CVDSTRK3': CVDSTRK3_mapping,
    '_ASTHMS1': _ASTHMS1_mapping,
    'CHCSCNCR': CHCSCNCR_mapping,
    'CHCOCNCR': CHCOCNCR_mapping
}

In [12]:
len(column_mapping)

13

In [13]:
for c in df_ran.columns:
    if c in column_mapping:
        df_ran[c].replace(column_mapping[c], inplace = True)

In [14]:
df_ran.head()

,_MICHD,_SEX,GENHLTH,PHYSHLTH,MENTHLTH,ADDEPEV3,CHECKUP1,_TOTINDA,_RFHYPE6,CHOLMED3,_RFCHOL3,CVDSTRK3,_ASTHMS1,CHCSCNCR,CHCOCNCR
0,No,Female,Poor,20.0,10.0,No,Within past 2 years (1 year but < 2 years ago),No physical activity or exercise in last 30 days,No,Yes,Yes,No,Current,No,No
1,Yes,Female,Good,88.0,88.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,Yes,Yes,Yes,No,Never,No,No
2,Yes,Female,Very good,88.0,88.0,No,Within past year (anytime < 12 months ago),No physical activity or exercise in last 30 days,Yes,No,No,No,Never,No,No
3,No,Female,Very good,88.0,10.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,Yes,No,Yes,No,Never,No,No
4,Yes,Male,Poor,30.0,88.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,No,Yes,Yes,Yes,Never,No,No

In [15]:
df_ran.isnull().sum()

_MICHD          0
_SEX            0
GENHLTH         3
PHYSHLTH        2
MENTHLTH        0
ADDEPEV3        0
CHECKUP1        0
_TOTINDA        0
_RFHYPE6        0
CHOLMED3    56662
_RFCHOL3    56248
CVDSTRK3        0
_ASTHMS1        0
CHCSCNCR        0
CHCOCNCR        0
dtype: int64

In [16]:
for c in ['CHOLMED3', 'GENHLTH', '_RFCHOL3']:
    df_ran[c].fillna("Not asked or Missing", inplace=True)

In [17]:
df_ran.isnull().sum()

_MICHD      0
_SEX        0
GENHLTH     0
PHYSHLTH    2
MENTHLTH    0
ADDEPEV3    0
CHECKUP1    0
_TOTINDA    0
_RFHYPE6    0
CHOLMED3    0
_RFCHOL3    0
CVDSTRK3    0
_ASTHMS1    0
CHCSCNCR    0
CHCOCNCR    0
dtype: int64

In [18]:
for c in ['PHYSHLTH', 'MENTHLTH']:
    df_ran[c].replace(88, 0, inplace = True)
    df_ran[c].replace(77, np.nan, inplace = True)
    df_ran[c].replace(99, np.nan, inplace = True)

In [19]:
df_ran.isnull().sum()

_MICHD         0
_SEX           0
GENHLTH        0
PHYSHLTH    8491
MENTHLTH    7084
ADDEPEV3       0
CHECKUP1       0
_TOTINDA       0
_RFHYPE6       0
CHOLMED3       0
_RFCHOL3       0
CVDSTRK3       0
_ASTHMS1       0
CHCSCNCR       0
CHCOCNCR       0
dtype: int64

In [20]:
df_ran.columns = df_ran.columns.str.lower()

In [21]:
df_ran.head()

,_michd,_sex,genhlth,physhlth,menthlth,addepev3,checkup1,_totinda,_rfhype6,cholmed3,_rfchol3,cvdstrk3,_asthms1,chcscncr,chcocncr
0,No,Female,Poor,20.0,10.0,No,Within past 2 years (1 year but < 2 years ago),No physical activity or exercise in last 30 days,No,Yes,Yes,No,Current,No,No
1,Yes,Female,Good,0.0,0.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,Yes,Yes,Yes,No,Never,No,No
2,Yes,Female,Very good,0.0,0.0,No,Within past year (anytime < 12 months ago),No physical activity or exercise in last 30 days,Yes,No,No,No,Never,No,No
3,No,Female,Very good,0.0,10.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,Yes,No,Yes,No,Never,No,No
4,Yes,Male,Poor,30.0,0.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,No,Yes,Yes,Yes,Never,No,No

In [22]:
df_ran.to_csv('../data/cleaning_data_phase2_Ran.csv.zip', index = False)